@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  min-height: 100vh;
  width: 100vw; 
  align-items: center;
  display: flex;
  justify-content: center;
  background: url(./page/photo-1659878997289-b9ab5a0663b6.jpg) no-repeat;
  background-size: cover; 
  background-position: center;
  perspective: 1000px;
}
::-webkit-scrollbar{
	width: 10px;
}
::-webkit-scrollbar-track{
	background: #f1f1f1;
}
::-webkit-scrollbar-thumb{
	background: #888;
}
::-webkit-scrollbar-thumb:hover{
	background: #555;
}
